<br />
<br />
<br />
<br />
<div class="container-fluid row booyah-box">
	<div class="col-xs-12 col-sm-4 user-photo">
		<%= image_tag 'user.png'%>
	</div>
	<div class="col-xs-12 col-sm-8 user-info">
	<h1><%= @user.email %></h1>
	<h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
	<h4>Since then you have: <br/>
		Added <%= @user.places.count%> natural footprint(s) <br />
		Made <%= @user.comments.count%> comments <br />
		And <%= @user.comments.where(rating: '5_stars').count %> of them were 5 stars!
	</h4>
	</div>
</div>
<br />
<br />
<h1 class="text-center">My Comments</h1>
<br />
<% @user.comments.each do |comment| %>
	<div class="col-xs-12 col-sm-6">
		<h2 class="text-left"><%= link_to comment.place.name, place_path(comment.place)%></h2>
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>	







