<div class="container-fluid fill">
<div id="myCarousel" class="carousel carousel-fade sld-transition-2">
  <div class="carousel-inner">
  	<div class="container">
	  	<div class="container big-title">
			<h1>Natural Health</h1>
			<h3>- - is the best kind of health - -</h3>
		</div>
	</div>
    <div class="active item">
      <div class="fill">
  		 <div class="slide slide1">

    	</div>
      </div>
    </div>
  <div class="item">
    <div class="fill">
    	 <div class="slide slide2">

    	 </div>
    <div class="carousel-caption">
     
    </div>
  </div>
    <div class="item">
      <div class="fill">
         <div class="slide slide3">

         </div>
      </div>
    </div>
  </div>

</div>
</div>
<div class="container divider">
		<div class="row">
			<div class="one col-xs-12 col-sm-3"><p>Health</p></div>
			<div class="two col-xs-12 col-sm-3"><p>Health</p></div>
			<div class="three col-xs-12 col-sm-3"><p>Health</p></div>
			<div class="four col-xs-12 col-sm-3"><p>Health</p></div>
		</div>
</div>
<script type="text/javascript">
var $ = jQuery.noConflict();
$(document).ready(function() { 
  $('#myCarousel').carousel({ interval: 3000, cycle: true });
}); 
</script>


<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= link_to place.name, place_path(place) %></h1>
	<h3><%= place.category %></h3>
	<i><%= place.address %></i><br />
	<p><%= place.description %></p><br />
	<% if place.user.present? %>
		<small><%= place.user.email %></small>
	<% end %>

<!--Snippet from shor.html.erb-->
<% if place.comments.present? %>
		<div class="col-xs-12">
			<blockquote>
				<% if place.comments.last.humanized_rating.present? %>
				<b><%= place.comments.last.humanized_rating %></b> -
				<% end %>
				<%= place.comments.last.message %>
				<small><%= place.comments.last.user.email %></small>
			</blockquote>
		</div>
<% end %>		
<!--END Snippet from shor.html.erb-->

</div>
<% end %>

<div class="container-fluid paginate">
<%= will_paginate @users %>
</div>