<div class="container-fluid fill">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" style="background-image:url('//placehold.it/1024x700/449955/FFF');">
        <div class="container">
          
        </div>
      </div>
    </div>
    <div class="item">
    <div class="fill">
    	 <%= image_tag('bubbles.jpg', :alt => "Blowing bubbles") %>
    </div>
    <div class="carousel-caption">
      Looking for hotdogs?
    </div>
  </div>
    <div class="item">
      <div class="fill" style="background-image:url('//placehold.it/1024x700/CC1111/FFF');">
        <div class="container">
          
        </div>
      </div>
    </div>
  </div>
  <div class="pull-center">
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
</div>

<div class="container-fluid divider">
	<div class="container-fluid row">
		<div class="one col-xs-12 col-sm-3">Health</div>
		<div class="two col-xs-12 col-sm-3">Places</div>
		<div class="three col-xs-12 col-sm-3">Books</div>
		<div class="four col-xs-12 col-sm-3">Philosophy</div>
	</div>
</div>

<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= link_to place.name, place_path(place) %></h1>
	<h3><%= place.category %></h3>
	<i><%= place.address %></i><br />
	<p><%= place.description %></p><br />
	<% if place.user.present? %>
		<small><%= place.user.email %></small>
	<% end %>

<!--Snippet from shor.html.erb-->
<% if place.comments.present? %>
		<div class="col-xs-12">
			<blockquote>
				<% if place.comments.last.humanized_rating.present? %>
				<b><%= place.comments.last.humanized_rating %></b> -
				<% end %>
				<%= place.comments.last.message %>
				<small><%= place.comments.last.user.email %></small>
			</blockquote>
		</div>
<% end %>		
<!--END Snippet from shor.html.erb-->

</div>
<% end %>
<hr />
<div class="container-fluid paginate">
<%= will_paginate @users %>
</div>